body, html, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.order-area {
  width: 100%;
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titles p {
  margin: 6px 40px;
}

img {
  width: 28%;
  margin: 15px 6px;
  border: 2px solid black;
}

.dropdowns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

select {
  margin: 2px 10px;
  padding: 3px;
  border-radius: 10px;
}

.name-input input {
  margin: 20px;
  border-radius: 10px;
  width: 150px;
  padding: 3px 5px;
}